<h1>Albums Page</h1>
<form style="display: flex; flex-direction: column;align-items: start;" method="POST" action="/albums">
  <label> Title:
    <input name="title" />
  </label>
  <label> Cover
    <input name="cover" type="image" />
  </label>
  
  <button type="submit">View Album</button>
</form>

<script src = '/albums/:artistId'></script> 