<h1>Choose the artist</h1>

<form action="/artist-search", method="GET">
<label>
    
    <input name = "Artist name" placeholder="Artist name" />
   
</label>
<button type = "submit">Search for an Artist</button>
</form>